.search {
  width: 200%;
  height: 25px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.search::placeholder {
  color: white !important;
}
